.footer{
    position: relative;

    padding: 45px 0px;
    padding-top: 43px;

    .footer__content {
        display: flex;
        align-items: center;
        justify-content: center;

        .content__logo {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            margin-left: auto;

            @media screen and (max-width: 500px) {
                img{
                    width: 150px;
                }
            }
        }

        .content__menu {
            padding-right: 116px;
            margin-left: auto;

            .menu__item {
                text-decoration: none;
                @include text($grey_3,18px,300,24px);
                margin-left: 32px;
            }
        }

        @media screen and (max-width: 1650px) {
            .content__menu {
                .menu__item {
                    margin-left: 16px;
                }
            }
        }

        @media screen and (max-width: 1550px) {
            .content__menu {
                padding-right: 90px;
                .menu__item {
                    margin-left: 10px;
                }
            }
        }

        @media screen and (max-width: 1450px) {
            .content__menu {
                padding-right: 70px;
                .menu__item {
                    margin-left: 10px;
                }
            }
        }

        @media screen and (max-width: 1400px) {
            display: flex;
            flex-direction: column;

            
            .content__logo {
                position: relative;
                left: 0;
                top: 0;
                transform: none;
                margin-left: 0px;
                margin-bottom: 14px;
            }

            .content__menu{
                margin-left: 0px;
                padding-right: 0px;
            }
        }

        @media screen and (max-width: 600px) {
            .content__menu{
                flex-direction: column;
                align-items: center;
                text-align: center;

                .menu__item{
                    display: block;
                    margin: 0;
                    margin-bottom: 24px;

                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1400px) {
        .content_wrapper{
            padding-left: 50px !important;
        }
    }

    @media screen and (max-width: 1100px) {
        .content_wrapper{
            padding-left: 0px !important;
            padding-right: 0px;
        }
    }
}