$black: #292929;

$grey_1: #333;
$grey_2: rgba(51, 51, 51,.7);
$grey_3: rgba(51, 51, 51,.4);
$grey_4: rgba(51, 51, 51,.1);

$grey_bg :#EFEFEF;

$mrg: 376px;
$mrg1600: 310px; 
$mrg1300: 260px; 

$green_1: #B1D23A;
$green_2: #A9CA35;
$green_3: #A0C51F;

$violet: #9470AF;
